.gallery-container-outer{
    background-color: var(--off-white);
}

.gallery-container{

    position: relative;
    
    height: 120vh;
    width: 100%;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;

    img{
        height: calc(100% - 20vw);
        margin: 10vw;

        &:last-child{
            padding-right: 10vw;
        }
    }


}