.location-slate-container{
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: center;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    .video-veil{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.5);
    }

    .slate-overlay{
        position: absolute;
        width: 80%;
        margin: 0 auto;
        
        align-self: center;

        h1{
            color: var(off-white);
        }
    }
}