@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

:root{
  --off-white: #F0F0F0;
  --squid-ink: #rgba(0,0,0,.9);
}

body{
  font-family: 'EB Garamond', serif;
  background-color: var(--off-white);
  color: var(--squid-ink);
  margin: 6vw;
}

h1{
  font-size: 24px;
  text-align: center;
  color: var(--off-white);
}


