.Container{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;

    h1{
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    .intro{ 
        width: 100%;
        position: absolute;
        top: 30vw; 
    }

    .outro{ 
        width: 100%;
        position: absolute;
        top: 80%; 
    }

    .hero-image-intro{
        //position: absolute;
        display: flex;
        margin: 0 auto;
        margin-top: 2.5vw;
        width: 95vw;
   
        object-fit: cover;

        min-height: 100vh;
    }
}