.Container{

    position: relative;
    display: block;
    width: 100%;

    .type{
        width: 100%;
        position: absolute;
    }
    .intro{ 
        width: 100%;
        position: absolute;
        top: 25vw; 
    }
    .outro{ 
        width: 100%;
        position: absolute;
        top: 105vw; 
    }

    .hero-image-intro{
        //position: absolute;
        display: flex;
        margin: 0 auto;
        margin-top: 2.5vw;
        width: 95vw;
   
        object-fit: cover;
    }
}