.Container{

    .type{
        width: 100%;
        position: absolute;
    }
    .intro{ 
        width: 100%;
        position: absolute;
        top: 33vw; 
    }
    .outro{ top: 66vw; }

    img{
        width: 100%;
        object-fit: cover;
    }
}